<!-- {% extends 'base.html'%}
{% block content %}
<form method="GET">
    {{form.hidden_tag()}}
    {{form.pokequest}}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Pokemon Finder</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Please enter the Pokemon you wish to find.</div>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Find!</button>
  </form>
{% endblock %} -->